.task-input {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.task-input input[type="text"] {
    padding: 10px;
    font-size: 1em;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.9);
}

.task-input input[type="text"]::placeholder {
    color: #888;
}

.task-input button {
    padding: 10px 15px;
    font-size: 1em;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.task-input button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}